docroot/i/bib.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:s="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://example.org/soapformat" 
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
targetNamespace="http://example.org/soapformat" 
xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://example.org/soapformat">
              
              
    <s:element name="getNewTitles">
        <s:complexType>
          <s:sequence>
            <s:element name="dt_from" type="s:date" />
          </s:sequence>
        </s:complexType>
    </s:element>
          
    <s:complexType name="Title">
        <s:sequence>
          <s:element name="label" type="s:string" />
          <s:element name="author" type="s:string" />
          <s:element name="publishing" type="s:string" />
          <s:element name="rubric" type="s:string" />
          <s:element name="year" type="s:int" />
        </s:sequence>
    </s:complexType>    

      <s:element name="getNewTitlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="title" type="tns:Title" />
          </s:sequence>
        </s:complexType>
      </s:element>      
      
    </s:schema>
  </types>
  <message name="getNewTitlesSoapIn">
    <part name="parameters" element="tns:getNewTitles" />
  </message>
  
  <message name="getNewTitlesSoapOut">
    <part name="parameters" element="tns:getNewTitlesResponse" />
  </message>
  
  <portType name="testserviceSoap">
    <operation name="getNewTitles">
      <input message="tns:getNewTitlesSoapIn" />
      <output message="tns:getNewTitlesSoapOut" />
    </operation>
  </portType>
  <binding name="testserviceSoap" type="tns:testserviceSoap">
    <soap:binding 
         transport="http://schemas.xmlsoap.org/soap/http" 
         style="document" />
    <operation name="getNewTitles">
      <soap:operation 
           soapAction="http://example.org/soapformat/getNewTitles"/>
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
</definitions>